* {
   padding: 0;
   margin: 0;
}

body{
	background-color: white;
}

#container{
	height:auto;
	width:auto;
	margin: 1em 7em 1em 7em;
	background-color: white;
	border-radius: 0.3em;
}

header{
	position:absolute;
	height:5.5em;
	width:81.7%;
	background-color: rgba(255,255,255,0.78);
	box-shadow:0px 2px 1px 0.7px rgba(224,221,221,0.7);
}

.logo{
	
	
}

img.logo{
	height:1.5em;
	width: auto;
	margin-left:14em;
}

nav li{
	/*float:right;*/
	list-style: none;
    margin-right: 1em; 
    margin-left: 31%; 
    font-family: 'Lobster','Lato',fantasy, Arial, sans-serif;
    font-weight: 400;
}

nav li a {
    color: #544738;
    text-decoration: none;
    float: left;
    font-size: 15px;
    padding: 12px;
}
 
nav li a:hover {
    color: #0bd3a5;
}

#S0{
	height:5.5em;
	width: 100%;
	background-color: white;
}

#S1{
	background-color: #fcd060;
	/*margin-top:5em;*/
	height:auto;
	width:auto;
	/*border: solid;*/
	-webkit-box-shadow: 0px 6px 7px -1px rgba(204,202,204,1);
	-moz-box-shadow: 0px 6px 7px -1px rgba(204,202,204,1);
	box-shadow: 0px 6px 7px -1px rgba(204,202,204,1);
}

#S1 > img.brain{
	position:relative;
	height:20em;
	width:30em;
	left:25%
}

#S4{
	width:100%;
	height:auto;
}

#tvlogo > img{
	height:6.5em;
	width:auto;
	margin:1em 0em 0em 28em;
}

#travel{	
	background-image: url("images/travelling.png");
	background-repeat: no-repeat;
	background-size:60em auto;
	margin-left: 2%;
	width: 98%;
	
}

table.country{
	width:60em;
	height:40em;
}

table.country td{
	width:15em;
	height: auto;
	color:rgba(255,255,255,0);
}

table img.trvpicv{
	width: 3.5em;
	height: auto;
	border-radius: 0.15em; 
}

table img.trvpich{
	width: 5em;
	height: auto;
	border-radius: 0.15em; 
}

#S2{
	background-color: rgba(171,140,55,0.33);
	height: 79.5em;
	padding-top: 0.5em;
	padding-left: 10em;
	-webkit-box-shadow: 0px -6px 7px -1px rgba(204,202,204,1);
	-moz-box-shadow: 0px -6px 7px -1px rgba(204,202,204,1);
	box-shadow: 0px -6px 7px -1px rgba(204,202,204,1);
}

#homemade > img{
	height:6em;
	width:auto;
	margin-left:18em;
}

div.foodpic
{
  margin: 5px;
  /*padding: 5px;*/
  border: 5px solid #ffffff;
  height: auto;
  width: auto;
  float: left;
  text-align: center;
  box-shadow: 3px 3px 1px rgba(135,135,135,0.36);
  border-radius: 0.15em;
}	

div.foodpic img
{
  display: inline;
  /*margin: 5px;*/
  border: 1px solid #ffffff;
}

/*div.foodpic a:hover img {border: 1px solid #0000ff;}*/
div.desc
{
  text-align: center;
  font-weight: normal;
  font-size: small;
  width: 202px;
  /*margin-left: 5px;*/
  background-color: white;
  color:#693c0c;
}

#S3{
	height:auto;
	background-color:rgba(255,255,255,1); 
	padding-top: 0.2em;
}

#intro{
	background-image: url('images/selfintro.png');
	background-size: 63em auto;
	background-repeat: no-repeat;
	height:30em;
	width: 100%;
	color:black;
	border-radius: 0.15em;
}

table.content{
	margin-left:38px;
	padding-top: 11em; 
}

table.content td{
	width:19em;
	height: 16.5em;
	color:#4f2c0a;
	font-family:'Lobster',fantasy, Arial, sans-serif;
	text-align: center;
	font-weight: 300;
	font-size: normal;
}

#footer{
	background-color:#000000;
	height: 8em;
	width: auto;
	border-radius: 0.15em;
	-webkit-box-shadow: 0px -6px 7px -1px rgba(20,20,20,1);
	-moz-box-shadow: 0px -6px 7px -1px rgba(20,20,20,1);
	box-shadow: 0px -6px 7px -1px rgba(20,20,20,1);
}

table.ft{
	height: 8em;
	width: auto;
	margin-left: 35%;
}

table.ft td{
	color: white;
	height: 0.5em;
	font-size:x-small;
	font-family: 'Lato','sans-serif';
	text-align: center;
}
/*#S1 > img.brain{
    position:relative;
	max-width: 80%;
	top: 10%;
	left: 10%;
	height:20em;
	width:30em;
	border: dashed;
}
/*put the image in the center*/
/*#S1 > img.brain:empty
{
	top: 30%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}*/